body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo img {
    height: 60px;
}

.navbar ul, .footer-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li, .footer-nav a {
    margin-right: 20px;
}

.navbar ul li a, .footer-nav a, .login-link a, .social-media a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-content, .hero-content {
    text-align: center;
    width: 100%;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}

.header-content h1, .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cta-button, .footer-content button {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}

.login-link {
    margin-left: auto;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.features, .talent-grid, .course-list, .instructor-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    flex-wrap: wrap;
}

.feature, .talent-item, .course-item, .instructor-item {
    flex: 1;
    padding: 40px 20px;
    color: white;
    margin: 20px;
    max-width: 300px;
}

.feature img, .talent-item img, .course-item img, .instructor-item img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
}

h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.footer {
    background-color: black;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.footer-content input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.footer-nav a:hover, .social-media a:hover {
    text-decoration: underline;
}

.talent {
    padding: 40px 20px;
    background-color: #FF6F61;
}

.testimonials {
    padding: 50px 20px;
    text-align: center;
    background-color: #B39DDB;
}

.testimonials p {
    font-size: 1.5em;
    color: black;
}

.testimonials .author {
    margin-top: 20px;
    font-weight: bold;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
}
